@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff;
    /* background-image: url("https://codzsword.github.io/bootstrap-sidebar/background-image.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover; */
}

h3 {
    font-size: 1.2375rem;
    color: #003008;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 #b3cff080;
    z-index: 1111;
}

/* Sidebar collapse */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 0 1.5rem;
    /* height: 50px; */
    /* padding : 0rem 1.5rem; */
}

.sidebar-logo a {
    color: #022547;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-logo a img{

    width: auto;
    max-width: 200px;
    /* height:50px; */

}

.sidebar-nav {
    padding: 0;
}

.sidebar-header {
    color: #002346;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link {
    padding: .625rem 1.625rem !important;
    color: #2f3235;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}
.sidebar-item > a{
    transition: .4s;
}
.sidebar-item:hover > a{
    background-color: #eee;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
}

.sidebar-item ul .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    /* transform: rotate(-135deg); */
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

li.sidebar-item > ul.sidebar-dropdown{
    padding: .625rem .625rem !important;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px) {
    .content {
        width: auto;
    }
}
